</style>

{% extends "base.html" %}
{% block content %}
<div class = "text-center col-md-8 col-sm-offset-2">
	<h3><u>About Me</u></h3>
	<p>My name is Gabriel Pascualy. I am a Junior at the University of Michigan studying Computer Science Engineering. My main academic interests are in Computer Vision and Machine Learning. In my free time I enjoy building, ceramics, and scuba diving. Check out the projects tab to learn about what I have done and what I plan on doing!</p>
</div> 
	<div class="container thumbnail col-md-8 col-sm-offset-2">
	    <img src="static/pictures/profile.png" alt="about">
	</div>
{% endblock %}
