{% extends "base.html" %}
{% block content %}
<h2>
  <strong>C</strong>omputer <strong>S</strong>cience:  
</h2> 
<div class="row">
  <div class="col-sm-offset-1 col-md-4">
      <h3 class="text-center">Autonomous Robots</h3>
    <a href="#/projects/umlaut" class="thumbnail">
      <img src="../static/pictures/ros.png" alt="ros">
    </a>  

    <p class="text-center"><a target="_blank" href="http://ros.org/">ROS</a> is a Robotics Framework. 
    This year good friend Jourdon Tribue and I developed a simple robotics platform that we like to call Umlaut. Using the ROS navigation stack Umlaut uses a Kinect sensor to navigate between GPS coordinates. If you are looking for an introduction to robotics this is the place to start...</p>
  </div>
  
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">Deploying a free website!</h3>
    <a href="#/projects/webapp" class="thumbnail">
      <img src="../static/pictures/flask.png" alt="angular">
    </a>  
    <p>Built with the python-based microframework <a target="_blank" href="http://flask.pocoo.org/">Flask</a>, this website is deployed behind a nginx load balancer on a free tier Amazon EC2 instance. Learn how to deploy your own webapp in 30 minutes! </p>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">Modeling the Morphogenesis of C. Elegans</h3>
    <a href="#/projects/devoworm" class="thumbnail">
      <img src="../static/pictures/openworm.jpg" alt="devoworm">
    </a>  
    <p><a target="_blank" href="http://openwormproject.org/">DevoWorm</a> is a part of the Open Worm project interested in modeling the morphogenesis of the C. Elegans worm.</p>

  </div>
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">A Search Engine Community Designed For Students</h3>
    <a href="#/projects/knobull" class="thumbnail">
      <img src="../static/pictures/knobull/knobull_1.png" alt="knobull">
    </a> 
    <p><a target="_blank" href="http://knobull.com/"> Knobull</a> is a meta-search engine for students tailored for education. I was involved in designing the Learning Center and deploying the server back-end. Check out the resources I utilized and things I learned.</p>
  </div>
</div>
<br>
<br>
<h2>
  <strong>F</strong>ree <strong>T</strong>ime:  
</h2> 
<br>
<div class="row">
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">1985 Kawasaki JS550 Restoration</h3>
    <a href="#/projects/kawasaki" class="thumbnail">
      <img src="../static/pictures/freetime/jetski/jetski_1.JPG" alt="kawasaki">
    </a>  
    <p>My friend Jack Cunningham and I restored this 1985 Kawasaki JS550! Check out the process of doing bodywork as well as doing a upper rebuild of the engine.</p>
  </div>
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">Building a Reverse Flow BBQ Smoker</h3>
    <a href="#/projects/bbq" class="thumbnail">
      <img src="../static/pictures/freetime/bbq/bbq_1.jpg" alt="bbq">
    </a>  
      <p>I built a reverse flow barbeque smoker use a 55 and 30 gallon oil drum. Check out the process of cutting, griding, and welding this thing into shape.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">Art and Design</h3>
    <a href="#/projects/ceramics" class="thumbnail">
      <img src="../static/pictures/freetime/ceramics/ceramics_3.JPG" alt="ceramics">
    </a>  
    <p>I am currently pursuing a Minor in Art and Design at the University of Michigan. My love for ceramics started in High School thanks to the mentoring of my two good friends, Jodi Rockwell and Jacob Foran. Check out my work and if you want more Jodi and Jacob have plenty to share!</p>
  </div>
  <div class="col-sm-offset-1 col-md-4">
    <h3 class="text-center">Underwater Exploration</h3>
    <a href="#/projects/diving" class="thumbnail">
      <img src="../static/pictures/freetime/diving/diving_1.JPG" alt="diving">
    </a>  
    <p>I have been diving for the past 6 years and seen some pretty cool stuff. Check out photos here!</p>
  </div>
</div>
{% endblock %}